/.env
/cli/target
/.idea
/cli/src/main/resources/db/.DS_Store
/cli/src/main/resources/.DS_Store
/cli/src/main/.DS_Store
/cli/src/.DS_Store
/cli/.DS_Store
/.DS_Store
/spa/ui/node_modules
/spa/api/node_modules
/spa/ui/dist
/spa/api/dist
/reference_application/PIQI.Components/bin
/reference_application/PIQI.Components/obj
/reference_application/PIQI.CustomSAMs/bin
/reference_application/PIQI.CustomSAMs/obj
/reference_application/PIQI.Data/bin
/reference_application/PIQI.Data/obj
/reference_application/PIQI.Service.Test/bin
/reference_application/PIQI.Service.Test/obj
/reference_application/PIQI_Engine.Server/bin
/reference_application/PIQI_Engine.Server/obj
/reference_application/PIQI_Engine.Server/ReferenceData/.DS_Store
/reference_application/PIQI_Engine.Server/.DS_Store
/reference_application/.DS_Store
